@import "fallback.css";
@import "controls/tooltip.css";
@import "controls/scroll.css";

.m3-root {
    -fx-font-family: "System";
    -fx-background-color: -m3-color-surface;
    -fx-text-fill: -m3-color-on-surface;
}

.m3-state-layer-container {
    -fx-background-color: transparent;
}

.m3-state-layer {
    -fx-background-insets: 0;
}

.m3-ripple {
    -fx-background-insets: 0;
    -fx-background-radius: 999px;
}

.m3-focus-indicator {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: -m3-state-focus-indicator-color;
}

.m3-button:hover .m3-state-layer,
.m3-chip:hover .m3-state-layer,
.m3-icon-button:hover .m3-state-layer,
.m3-icon-toggle-button:hover .m3-state-layer,
.m3-fab:hover .m3-state-layer,
.m3-segmented-button:hover .m3-state-layer,
.m3-checkbox:hover .m3-state-layer,
.m3-radio-button:hover .m3-state-layer,
.m3-switch:hover .m3-state-layer,
.m3-tab:hover .m3-state-layer,
.m3-navigation-item:hover .m3-state-layer,
.m3-list-item:hover .m3-state-layer,
.m3-search-bar:hover .m3-state-layer,
.m3-card:actionable:hover .m3-state-layer {
    -fx-opacity: 0.08;
}

.m3-button:focus-visible .m3-state-layer,
.m3-chip:focus-visible .m3-state-layer,
.m3-icon-button:focus-visible .m3-state-layer,
.m3-icon-toggle-button:focus-visible .m3-state-layer,
.m3-fab:focus-visible .m3-state-layer,
.m3-segmented-button:focus-visible .m3-state-layer,
.m3-checkbox:focus-visible .m3-state-layer,
.m3-radio-button:focus-visible .m3-state-layer,
.m3-switch:focus-visible .m3-state-layer,
.m3-tab:focus-visible .m3-state-layer,
.m3-navigation-item:focus-visible .m3-state-layer,
.m3-list-item:focus-visible .m3-state-layer,
.m3-search-bar:focus-visible .m3-state-layer,
.m3-card:actionable:focus-visible .m3-state-layer {
    -fx-opacity: 0.10;
}

.m3-button:pressed .m3-state-layer,
.m3-chip:pressed .m3-state-layer,
.m3-icon-button:pressed .m3-state-layer,
.m3-icon-toggle-button:pressed .m3-state-layer,
.m3-fab:pressed .m3-state-layer,
.m3-segmented-button:pressed .m3-state-layer,
.m3-checkbox:pressed .m3-state-layer,
.m3-radio-button:pressed .m3-state-layer,
.m3-switch:pressed .m3-state-layer,
.m3-tab:pressed .m3-state-layer,
.m3-navigation-item:pressed .m3-state-layer,
.m3-list-item:pressed .m3-state-layer,
.m3-search-bar:pressed .m3-state-layer,
.m3-card:actionable:armed .m3-state-layer,
.m3-card:actionable:pressed .m3-state-layer {
    -fx-opacity: 0.10;
}

.m3-card:dragged .m3-state-layer {
    -fx-opacity: 0.16;
}
