.root,
.m3-fallback-root {
    -monet-primary: rgb(101,85,143);
    -m3-color-primary: rgb(101,85,143);
    -monet-on-primary: rgb(255,255,255);
    -m3-color-on-primary: rgb(255,255,255);
    -monet-primary-container: rgb(233,221,255);
    -m3-color-primary-container: rgb(233,221,255);
    -monet-on-primary-container: rgb(77,61,117);
    -m3-color-on-primary-container: rgb(77,61,117);
    -monet-secondary: rgb(98,91,113);
    -m3-color-secondary: rgb(98,91,113);
    -monet-on-secondary: rgb(255,255,255);
    -m3-color-on-secondary: rgb(255,255,255);
    -monet-secondary-container: rgb(232,222,248);
    -m3-color-secondary-container: rgb(232,222,248);
    -monet-on-secondary-container: rgb(74,68,88);
    -m3-color-on-secondary-container: rgb(74,68,88);
    -monet-tertiary: rgb(126,82,96);
    -m3-color-tertiary: rgb(126,82,96);
    -monet-on-tertiary: rgb(255,255,255);
    -m3-color-on-tertiary: rgb(255,255,255);
    -monet-tertiary-container: rgb(255,217,227);
    -m3-color-tertiary-container: rgb(255,217,227);
    -monet-on-tertiary-container: rgb(99,59,72);
    -m3-color-on-tertiary-container: rgb(99,59,72);
    -monet-error: rgb(186,26,26);
    -m3-color-error: rgb(186,26,26);
    -monet-on-error: rgb(255,255,255);
    -m3-color-on-error: rgb(255,255,255);
    -monet-error-container: rgb(255,218,214);
    -m3-color-error-container: rgb(255,218,214);
    -monet-on-error-container: rgb(147,0,10);
    -m3-color-on-error-container: rgb(147,0,10);
    -monet-surface: rgb(253,247,255);
    -m3-color-surface: rgb(253,247,255);
    -monet-on-surface: rgb(29,27,32);
    -m3-color-on-surface: rgb(29,27,32);
    -monet-surface-dim: rgb(222,216,224);
    -m3-color-surface-dim: rgb(222,216,224);
    -monet-surface-bright: rgb(253,247,255);
    -m3-color-surface-bright: rgb(253,247,255);
    -monet-surface-container-lowest: rgb(255,255,255);
    -m3-color-surface-container-lowest: rgb(255,255,255);
    -monet-surface-container-low: rgb(248,242,250);
    -m3-color-surface-container-low: rgb(248,242,250);
    -monet-surface-container: rgb(242,236,244);
    -m3-color-surface-container: rgb(242,236,244);
    -monet-surface-container-high: rgb(236,230,238);
    -m3-color-surface-container-high: rgb(236,230,238);
    -monet-surface-container-highest: rgb(230,224,233);
    -m3-color-surface-container-highest: rgb(230,224,233);
    -monet-surface-variant: rgb(231,224,235);
    -m3-color-surface-variant: rgb(231,224,235);
    -monet-on-surface-variant: rgb(73,69,78);
    -m3-color-on-surface-variant: rgb(73,69,78);
    -monet-background: rgb(253,247,255);
    -m3-color-background: rgb(253,247,255);
    -monet-on-background: rgb(29,27,32);
    -m3-color-on-background: rgb(29,27,32);
    -monet-outline: rgb(122,117,127);
    -m3-color-outline: rgb(122,117,127);
    -monet-outline-variant: rgb(202,196,207);
    -m3-color-outline-variant: rgb(202,196,207);
    -monet-shadow: rgb(0,0,0);
    -m3-color-shadow: rgb(0,0,0);
    -monet-scrim: rgb(0,0,0);
    -m3-color-scrim: rgb(0,0,0);
    -monet-inverse-surface: rgb(50,47,53);
    -m3-color-inverse-surface: rgb(50,47,53);
    -monet-inverse-on-surface: rgb(245,239,247);
    -m3-color-inverse-on-surface: rgb(245,239,247);
    -monet-inverse-primary: rgb(207,189,254);
    -m3-color-inverse-primary: rgb(207,189,254);
    -monet-surface-tint: rgb(101,85,143);
    -m3-color-surface-tint: rgb(101,85,143);
}

.m3-internal-icon-path {
    -fx-fill: -m3-color-on-surface-variant;
}

.m3-internal-icon-primary .m3-internal-icon-path {
    -fx-fill: -m3-color-primary;
}

.m3-internal-icon-on-surface-variant .m3-internal-icon-path {
    -fx-fill: -m3-color-on-surface-variant;
}

.m3-internal-icon-on-primary-container .m3-internal-icon-path {
    -fx-fill: -m3-color-on-primary-container;
}
