.m3-badge {
    -m3-small-size: 6px;
    -m3-large-height: 16px;
    -m3-large-min-width: 16px;
    -m3-container-shape: 8px;
    -m3-horizontal-padding: 4px;
}

.m3-badge-label {
    -fx-alignment: center;
    -fx-background-color: -m3-color-error;
    -fx-text-fill: -m3-color-on-error;
    -fx-font-size: 11px;
    -fx-font-weight: 600;
}
