.m3-bottom-app-bar {
    -fx-background-color: -m3-color-surface-container;
    -fx-min-height: 80px;
    -fx-pref-height: 80px;
    -fx-padding: 0px 16px 0px 16px;
    -fx-spacing: 16px;
    -fx-alignment: center-left;
}

.m3-bottom-app-bar-actions {
    -fx-alignment: center-left;
    -fx-spacing: 8px;
}

.m3-bottom-app-bar-floating-action {
    -fx-alignment: center-right;
}
