.m3-bottom-app-bar {
    -m3-container-height: 80px;
    -m3-horizontal-padding: 16px;
    -m3-content-spacing: 16px;
    -m3-action-spacing: 8px;
    -fx-background-color: -m3-color-surface-container;
}

.m3-bottom-app-bar-actions {
    -fx-alignment: center-left;
}

.m3-bottom-app-bar-floating-action {
    -fx-alignment: center-right;
}

.m3-bottom-app-bar-floating-action-start .m3-bottom-app-bar-floating-action {
    -fx-alignment: center-left;
}

.m3-bottom-app-bar-floating-action-center .m3-bottom-app-bar-floating-action {
    -fx-alignment: center;
}

.m3-bottom-app-bar-floating-action-end .m3-bottom-app-bar-floating-action {
    -fx-alignment: center-right;
}
