.m3-carousel {
    -fx-background-color: transparent;
}

.m3-carousel-viewport {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.m3-carousel-viewport > .viewport {
    -fx-background-color: transparent;
}

.m3-carousel-viewport > .corner {
    -fx-background-color: transparent;
}

.m3-carousel-track {
    -fx-alignment: center-left;
    -fx-padding: 8px 16px 8px 16px;
    -fx-spacing: 8px;
}
