.m3-disclosure-icon {
    -fx-background-color: transparent;
}

.m3-disclosure-icon-shape {
    -fx-fill: -m3-color-on-surface-variant;
}

.m3-list-item:selected .m3-disclosure-icon-shape {
    -fx-fill: -m3-color-on-secondary-container;
}

.m3-disclosure-icon:disabled .m3-disclosure-icon-shape {
    -fx-opacity: 0.38;
}
