.m3-icon {
    -m3-icon-font-family: "System";
    -m3-icon-small-size: 18px;
    -m3-icon-medium-size: 24px;
    -m3-icon-large-size: 32px;
    -m3-icon-extra-large-size: 40px;
    -m3-icon-size: 24px;
    -m3-icon-font-weight: 500;
}

.m3-icon > .m3-icon-glyph {
    -fx-fill: -m3-icon-color;
}

.m3-icon:button-graphic {
    -m3-icon-color: -m3-button-icon-color;
}

.m3-small-icon {
    -m3-icon-size: -m3-icon-small-size;
}

.m3-medium-icon {
    -m3-icon-size: -m3-icon-medium-size;
}

.m3-large-icon {
    -m3-icon-size: -m3-icon-large-size;
}

.m3-extra-large-icon {
    -m3-icon-size: -m3-icon-extra-large-size;
}

.m3-primary-icon {
    -m3-icon-color: -m3-color-primary;
}

.m3-secondary-icon {
    -m3-icon-color: -m3-color-secondary;
}

.m3-tertiary-icon {
    -m3-icon-color: -m3-color-tertiary;
}

.m3-error-icon {
    -m3-icon-color: -m3-color-error;
}

.m3-on-surface-icon {
    -m3-icon-color: -m3-color-on-surface;
}

.m3-on-surface-variant-icon {
    -m3-icon-color: -m3-color-on-surface-variant;
}

.m3-inverse-on-surface-icon {
    -m3-icon-color: -m3-color-inverse-on-surface;
}

.m3-icon.m3-dialog-graphic-icon {
    -m3-icon-color: -m3-color-secondary;
}

.m3-icon:disabled {
    -fx-opacity: 0.38;
}

.m3-text-input-leading:disabled .m3-icon:disabled,
.m3-text-input-trailing:disabled .m3-icon:disabled {
    -fx-opacity: 1;
}

.m3-text-input-trailing:error .m3-icon > .m3-icon-glyph {
    -fx-fill: -m3-text-input-trailing-icon-color;
}
