.m3-icon {
    -m3-icon-font-family: "System";
    -m3-icon-small-size: 18px;
    -m3-icon-medium-size: 24px;
    -m3-icon-large-size: 32px;
    -m3-icon-extra-large-size: 40px;
    -m3-icon-size: 24px;
    -m3-icon-font-weight: 500;
    -fx-text-fill: -m3-color-on-surface-variant;
    -m3-icon-color: -fx-text-fill;
}

.m3-icon > .m3-icon-glyph {
    -fx-fill: -m3-icon-color;
}

.m3-icon:button-graphic {
    -fx-text-fill: -m3-button-icon-color;
}

.m3-icon:m3-segmented-button-graphic-replaced {
    -fx-opacity: 0;
}

.m3-icon:m3-switch-handle-unselected {
    -fx-text-fill: -m3-color-surface-container-highest;
}

.m3-icon:m3-switch-handle-selected {
    -fx-text-fill: -m3-color-primary;
}

.m3-icon:m3-switch-handle-selected:disabled {
    -fx-text-fill: -m3-color-on-surface;
}

.m3-icon:m3-fab-graphic {
    -fx-text-fill: -m3-color-on-primary-container;
}

.m3-icon:m3-navigation-item-graphic {
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-icon:m3-list-item-leading-graphic,
.m3-icon:m3-list-item-trailing-graphic {
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-fab.m3-surface-fab .m3-icon:m3-fab-graphic {
    -fx-text-fill: -m3-color-primary;
}

.m3-fab.m3-secondary-container-fab .m3-icon:m3-fab-graphic {
    -fx-text-fill: -m3-color-on-secondary-container;
}

.m3-fab.m3-tertiary-container-fab .m3-icon:m3-fab-graphic {
    -fx-text-fill: -m3-color-on-tertiary-container;
}

.m3-fab.m3-primary-fab .m3-icon:m3-fab-graphic {
    -fx-text-fill: -m3-color-on-primary;
}

.m3-fab.m3-secondary-fab .m3-icon:m3-fab-graphic {
    -fx-text-fill: -m3-color-on-secondary;
}

.m3-fab.m3-tertiary-fab .m3-icon:m3-fab-graphic {
    -fx-text-fill: -m3-color-on-tertiary;
}

.m3-fab:disabled .m3-icon:m3-fab-graphic {
    -fx-text-fill: -m3-color-on-surface;
}

.m3-navigation-item:selected .m3-icon:m3-navigation-item-graphic,
.m3-list-item:selected .m3-icon:m3-list-item-leading-graphic,
.m3-list-item:selected .m3-icon:m3-list-item-trailing-graphic {
    -fx-text-fill: -m3-color-on-secondary-container;
}

.m3-list-item:navigation-drawer:hover .m3-icon:m3-list-item-leading-graphic,
.m3-list-item:navigation-drawer:hover .m3-icon:m3-list-item-trailing-graphic,
.m3-list-item:navigation-drawer:focus-visible .m3-icon:m3-list-item-leading-graphic,
.m3-list-item:navigation-drawer:focus-visible .m3-icon:m3-list-item-trailing-graphic,
.m3-list-item:navigation-drawer:pressed .m3-icon:m3-list-item-leading-graphic,
.m3-list-item:navigation-drawer:pressed .m3-icon:m3-list-item-trailing-graphic,
.m3-list-item:navigation-drawer:armed .m3-icon:m3-list-item-leading-graphic,
.m3-list-item:navigation-drawer:armed .m3-icon:m3-list-item-trailing-graphic {
    -fx-text-fill: -m3-color-on-surface;
}

.m3-menu-item:selected .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:selected .m3-icon:m3-list-item-trailing-graphic {
    -fx-text-fill: -m3-menu-selected-item-content-color;
}

.m3-menu-item:vibrant .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:vibrant .m3-icon:m3-list-item-trailing-graphic,
.m3-menu-item:disabled:vibrant .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:disabled:vibrant .m3-icon:m3-list-item-trailing-graphic {
    -fx-text-fill: -m3-menu-vibrant-item-content-color;
}

.m3-menu-item:vibrant:hover .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:vibrant:hover .m3-icon:m3-list-item-trailing-graphic,
.m3-menu-item:vibrant:focus-visible .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:vibrant:focus-visible .m3-icon:m3-list-item-trailing-graphic,
.m3-menu-item:vibrant:pressed .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:vibrant:pressed .m3-icon:m3-list-item-trailing-graphic,
.m3-menu-item:vibrant:armed .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:vibrant:armed .m3-icon:m3-list-item-trailing-graphic {
    -fx-text-fill: -m3-menu-vibrant-interaction-icon-color;
}

.m3-menu-item:selected:vibrant .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:selected:vibrant .m3-icon:m3-list-item-trailing-graphic,
.m3-menu-item:selected:disabled:vibrant .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:selected:disabled:vibrant .m3-icon:m3-list-item-trailing-graphic {
    -fx-text-fill: -m3-menu-vibrant-selected-item-content-color;
}

.m3-list-item:disabled .m3-icon:m3-list-item-leading-graphic,
.m3-list-item:disabled .m3-icon:m3-list-item-trailing-graphic {
    -fx-text-fill: -m3-color-on-surface;
}

.m3-menu-item:selected:disabled .m3-icon:m3-list-item-leading-graphic,
.m3-menu-item:selected:disabled .m3-icon:m3-list-item-trailing-graphic {
    -fx-text-fill: -m3-menu-selected-item-content-color;
}

.m3-icon.m3-chip-leading-graphic {
    -fx-text-fill: -m3-chip-leading-icon-color;
}

.m3-icon.m3-chip-trailing-graphic {
    -fx-text-fill: -m3-chip-trailing-icon-color;
}

.m3-small-icon {
    -m3-icon-size: -m3-icon-small-size;
}

.m3-medium-icon {
    -m3-icon-size: -m3-icon-medium-size;
}

.m3-large-icon {
    -m3-icon-size: -m3-icon-large-size;
}

.m3-extra-large-icon {
    -m3-icon-size: -m3-icon-extra-large-size;
}

.m3-primary-icon {
    -fx-text-fill: -m3-color-primary;
}

.m3-secondary-icon {
    -fx-text-fill: -m3-color-secondary;
}

.m3-tertiary-icon {
    -fx-text-fill: -m3-color-tertiary;
}

.m3-error-icon {
    -fx-text-fill: -m3-color-error;
}

.m3-on-surface-icon {
    -fx-text-fill: -m3-color-on-surface;
}

.m3-on-surface-variant-icon {
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-inverse-on-surface-icon {
    -fx-text-fill: -m3-color-inverse-on-surface;
}

.m3-icon.m3-dialog-graphic-icon {
    -fx-text-fill: -m3-color-secondary;
}

.m3-icon.m3-slider-active-track-graphic {
    -fx-text-fill: -m3-color-on-primary;
}

.m3-icon.m3-slider-inactive-track-graphic {
    -fx-text-fill: -m3-color-on-secondary-container;
}

.m3-icon:disabled {
    -fx-opacity: 0.38;
}

.m3-text-input-leading:disabled .m3-icon:disabled,
.m3-text-input-trailing:disabled .m3-icon:disabled {
    -fx-opacity: 1;
}

.m3-text-input-trailing:error .m3-icon {
    -fx-text-fill: -m3-text-input-trailing-icon-color;
}
