@import "button-group.css";

.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-leading,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-leading:hover,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-leading:focused,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-leading:armed,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-leading:pressed {
    -m3-button-icon-color: -m3-color-on-surface;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-on-surface;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-trailing,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-trailing:hover,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-trailing:focused,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-trailing:armed,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-trailing:pressed {
    -m3-button-icon-color: -m3-color-on-surface-variant;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-leading .m3-state-layer,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-leading .m3-ripple {
    -fx-background-color: -m3-color-on-surface;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-trailing .m3-state-layer,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-trailing .m3-ripple {
    -fx-background-color: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-leading:disabled,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:top-app-bar-trailing:disabled {
    -m3-button-icon-color: -m3-color-on-surface;
    -fx-text-fill: -m3-color-on-surface;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:hover,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:focused,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:armed,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:pressed {
    -m3-button-icon-color: -m3-color-on-surface-variant;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:selected,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:selected:hover,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:selected:focused,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:selected:armed,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:selected:pressed {
    -m3-button-icon-color: -m3-color-on-secondary-container;
    -fx-background-color: -m3-color-secondary-container;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-on-secondary-container;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:hover,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:focused,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:armed,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:pressed {
    -m3-button-icon-color: -m3-color-on-primary-container;
    -fx-text-fill: -m3-color-on-primary-container;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:selected,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:selected:hover,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:selected:focused,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:selected:armed,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:selected:pressed {
    -m3-button-icon-color: -m3-color-on-surface;
    -fx-background-color: -m3-color-surface-container;
    -fx-text-fill: -m3-color-on-surface;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action .m3-icon {
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action .m3-state-layer,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action .m3-ripple {
    -fx-background-color: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:selected .m3-icon {
    -fx-text-fill: -m3-color-on-secondary-container;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:selected .m3-state-layer,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:selected .m3-ripple {
    -fx-background-color: -m3-color-on-secondary-container;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant .m3-icon {
    -fx-text-fill: -m3-color-on-primary-container;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant .m3-state-layer,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant .m3-ripple {
    -fx-background-color: -m3-color-on-primary-container;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:selected .m3-icon {
    -fx-text-fill: -m3-color-on-surface;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:selected .m3-state-layer,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:selected .m3-ripple {
    -fx-background-color: -m3-color-on-surface;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:disabled,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:disabled,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:disabled .m3-icon,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:toolbar-action:vibrant:disabled .m3-icon {
    -m3-button-icon-color: -m3-color-on-surface;
    -fx-text-fill: -m3-color-on-surface;
}

.m3-icon-toggle-button-group {
    -m3-icon-toggle-button-group-spacing: 8px;
}

.m3-icon-toggle-button.m3-icon-toggle-button,
.m3-icon-toggle-button.m3-icon-toggle-button:hover,
.m3-icon-toggle-button.m3-icon-toggle-button:focused,
.m3-icon-toggle-button.m3-icon-toggle-button:armed,
.m3-icon-toggle-button.m3-icon-toggle-button:pressed,
.m3-icon-toggle-button.m3-icon-toggle-button:selected {
    -m3-button-icon-color: -m3-color-on-surface-variant;
    -m3-container-height: 40px;
    -m3-container-width: 40px;
    -m3-container-shape: 999px;
    -m3-icon-button-icon-size: 24px;
    -m3-icon-button-outline-width: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 999px;
    -fx-border-insets: 0;
    -fx-border-radius: 999px;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-content-display: graphic-only;
    -fx-cursor: hand;
}

.m3-icon-toggle-button.m3-icon-button-extra-small {
    -m3-container-height: 32px;
    -m3-container-width: 32px;
    -m3-icon-button-icon-size: 20px;
    -m3-icon-button-outline-width: 1px;
}

.m3-icon-toggle-button.m3-icon-button-small {
    -m3-container-height: 40px;
    -m3-container-width: 40px;
    -m3-icon-button-icon-size: 24px;
    -m3-icon-button-outline-width: 1px;
}

.m3-icon-toggle-button.m3-icon-button-medium {
    -m3-container-height: 56px;
    -m3-container-width: 56px;
    -m3-icon-button-icon-size: 24px;
    -m3-icon-button-outline-width: 1px;
}

.m3-icon-toggle-button.m3-icon-button-large {
    -m3-container-height: 96px;
    -m3-container-width: 96px;
    -m3-icon-button-icon-size: 32px;
    -m3-icon-button-outline-width: 2px;
}

.m3-icon-toggle-button.m3-icon-button-extra-large {
    -m3-container-height: 136px;
    -m3-container-width: 136px;
    -m3-icon-button-icon-size: 40px;
    -m3-icon-button-outline-width: 3px;
}

.m3-icon-toggle-button.m3-icon-button-large.m3-outlined-icon-toggle-button {
    -fx-border-width: 2px;
}

.m3-icon-toggle-button.m3-icon-button-extra-large.m3-outlined-icon-toggle-button {
    -fx-border-width: 3px;
}

.m3-icon-button-extra-small.m3-icon-button-narrow-width {
    -m3-container-width: 28px;
}

.m3-icon-button-extra-small.m3-icon-button-wide-width {
    -m3-container-width: 40px;
}

.m3-icon-button-small.m3-icon-button-narrow-width {
    -m3-container-width: 32px;
}

.m3-icon-button-small.m3-icon-button-wide-width {
    -m3-container-width: 52px;
}

.m3-icon-button-medium.m3-icon-button-narrow-width {
    -m3-container-width: 48px;
}

.m3-icon-button-medium.m3-icon-button-wide-width {
    -m3-container-width: 72px;
}

.m3-icon-button-large.m3-icon-button-narrow-width {
    -m3-container-width: 64px;
}

.m3-icon-button-large.m3-icon-button-wide-width {
    -m3-container-width: 128px;
}

.m3-icon-button-extra-large.m3-icon-button-narrow-width {
    -m3-container-width: 104px;
}

.m3-icon-button-extra-large.m3-icon-button-wide-width {
    -m3-container-width: 184px;
}

.m3-icon-button-round {
    -m3-container-shape: 999px;
    -fx-background-radius: 999px;
    -fx-border-radius: 999px;
}

.m3-icon-button-square.m3-icon-button-extra-small,
.m3-icon-button-square.m3-icon-button-small {
    -m3-container-shape: 12px;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
}

.m3-icon-button-square.m3-icon-button-medium {
    -m3-container-shape: 16px;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}

.m3-icon-button-square.m3-icon-button-large,
.m3-icon-button-square.m3-icon-button-extra-large {
    -m3-container-shape: 28px;
    -fx-background-radius: 28px;
    -fx-border-radius: 28px;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:hover,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:focused,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:armed,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:pressed {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:selected,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:selected:hover,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:selected:focused,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:selected:armed,
.m3-icon-toggle-button.m3-standard-icon-toggle-button:selected:pressed {
    -m3-button-icon-color: -m3-color-primary;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-primary;
}

.m3-icon-toggle-button.m3-filled-icon-toggle-button,
.m3-icon-toggle-button.m3-filled-icon-toggle-button:hover,
.m3-icon-toggle-button.m3-filled-icon-toggle-button:focused,
.m3-icon-toggle-button.m3-filled-icon-toggle-button:armed,
.m3-icon-toggle-button.m3-filled-icon-toggle-button:pressed {
    -fx-background-color: -m3-color-surface-container;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button.m3-filled-icon-toggle-button:selected,
.m3-icon-toggle-button.m3-filled-icon-toggle-button:selected:hover,
.m3-icon-toggle-button.m3-filled-icon-toggle-button:selected:focused,
.m3-icon-toggle-button.m3-filled-icon-toggle-button:selected:armed,
.m3-icon-toggle-button.m3-filled-icon-toggle-button:selected:pressed {
    -m3-button-icon-color: -m3-color-on-primary;
    -fx-background-color: -m3-color-primary;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-on-primary;
}

.m3-icon-toggle-button.m3-tonal-icon-toggle-button,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:hover,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:focused,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:armed,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:pressed {
    -m3-button-icon-color: -m3-color-on-secondary-container;
    -fx-background-color: -m3-color-secondary-container;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-on-secondary-container;
}

.m3-icon-toggle-button.m3-tonal-icon-toggle-button:selected,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:selected:hover,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:selected:focused,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:selected:armed,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:selected:pressed {
    -m3-button-icon-color: -m3-color-on-secondary;
    -fx-background-color: -m3-color-secondary;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-on-secondary;
}

.m3-icon-toggle-button.m3-outlined-icon-toggle-button,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:hover,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:focused,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:armed,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:pressed {
    -fx-background-color: transparent;
    -fx-border-color: -m3-color-outline-variant;
    -fx-border-width: 1px;
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button.m3-outlined-icon-toggle-button:selected,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:selected:hover,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:selected:focused,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:selected:armed,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:selected:pressed {
    -m3-button-icon-color: -m3-color-inverse-on-surface;
    -fx-background-color: -m3-color-inverse-surface;
    -fx-border-color: transparent;
    -fx-text-fill: -m3-color-inverse-on-surface;
}

.m3-icon-toggle-button .m3-icon {
    -m3-icon-size: -m3-icon-button-icon-size;
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button:selected .m3-icon {
    -fx-text-fill: -m3-color-primary;
}

.m3-icon-toggle-button.m3-filled-icon-toggle-button:selected .m3-icon {
    -fx-text-fill: -m3-color-on-primary;
}

.m3-icon-toggle-button.m3-tonal-icon-toggle-button .m3-icon {
    -fx-text-fill: -m3-color-on-secondary-container;
}

.m3-icon-toggle-button.m3-tonal-icon-toggle-button:selected .m3-icon {
    -fx-text-fill: -m3-color-on-secondary;
}

.m3-icon-toggle-button.m3-outlined-icon-toggle-button:selected .m3-icon {
    -fx-text-fill: -m3-color-inverse-on-surface;
}

.m3-icon-toggle-button .m3-state-layer,
.m3-icon-toggle-button .m3-ripple {
    -fx-background-color: -m3-color-on-surface-variant;
}

.m3-icon-toggle-button:selected .m3-state-layer,
.m3-icon-toggle-button:selected .m3-ripple {
    -fx-background-color: -m3-color-primary;
}

.m3-icon-toggle-button.m3-filled-icon-toggle-button:selected .m3-state-layer,
.m3-icon-toggle-button.m3-filled-icon-toggle-button:selected .m3-ripple {
    -fx-background-color: -m3-color-on-primary;
}

.m3-icon-toggle-button.m3-tonal-icon-toggle-button .m3-state-layer,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button .m3-ripple {
    -fx-background-color: -m3-color-on-secondary-container;
}

.m3-icon-toggle-button.m3-tonal-icon-toggle-button:selected .m3-state-layer,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:selected .m3-ripple {
    -fx-background-color: -m3-color-on-secondary;
}

.m3-icon-toggle-button.m3-outlined-icon-toggle-button:selected .m3-state-layer,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:selected .m3-ripple {
    -fx-background-color: -m3-color-inverse-on-surface;
}

.m3-icon-toggle-button.m3-icon-button-round.m3-icon-button-extra-small:selected,
.m3-icon-toggle-button.m3-icon-button-round.m3-icon-button-small:selected {
    -m3-container-shape: 12px;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
}

.m3-icon-toggle-button.m3-icon-button-round.m3-icon-button-medium:selected {
    -m3-container-shape: 16px;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}

.m3-icon-toggle-button.m3-icon-button-round.m3-icon-button-large:selected,
.m3-icon-toggle-button.m3-icon-button-round.m3-icon-button-extra-large:selected {
    -m3-container-shape: 28px;
    -fx-background-radius: 28px;
    -fx-border-radius: 28px;
}

.m3-icon-toggle-button.m3-icon-button-square:selected {
    -m3-container-shape: 999px;
    -fx-background-radius: 999px;
    -fx-border-radius: 999px;
}

.m3-icon-toggle-button.m3-icon-button-extra-small:armed,
.m3-icon-toggle-button.m3-icon-button-extra-small:pressed,
.m3-icon-toggle-button.m3-icon-button-small:armed,
.m3-icon-toggle-button.m3-icon-button-small:pressed {
    -m3-container-shape: 8px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.m3-icon-toggle-button.m3-icon-button-medium:armed,
.m3-icon-toggle-button.m3-icon-button-medium:pressed {
    -m3-container-shape: 12px;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
}

.m3-icon-toggle-button.m3-icon-button-large:armed,
.m3-icon-toggle-button.m3-icon-button-large:pressed,
.m3-icon-toggle-button.m3-icon-button-extra-large:armed,
.m3-icon-toggle-button.m3-icon-button-extra-large:pressed {
    -m3-container-shape: 16px;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}

.m3-icon-toggle-button:disabled {
    -m3-button-icon-color: -m3-color-on-surface;
    -fx-cursor: default;
    -fx-opacity: 1;
    -fx-text-fill: -m3-color-on-surface;
}

.m3-icon-toggle-button:disabled > * {
    -fx-opacity: -m3-state-disabled-content-opacity;
}

.m3-icon-toggle-button.m3-standard-icon-toggle-button:disabled {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.m3-icon-toggle-button.m3-outlined-icon-toggle-button:disabled {
    -fx-background-color: transparent;
    -fx-border-color: -m3-color-outline-variant;
}

.m3-icon-toggle-button.m3-filled-icon-toggle-button:disabled,
.m3-icon-toggle-button.m3-tonal-icon-toggle-button:disabled,
.m3-icon-toggle-button.m3-outlined-icon-toggle-button:selected:disabled {
    -fx-background-color: -m3-button-disabled-container-color;
    -fx-border-color: transparent;
}

.m3-icon-toggle-button:disabled .m3-icon {
    -fx-text-fill: -m3-color-on-surface;
}
