.m3-menu {
    -fx-background-color: -m3-color-surface-container;
    -fx-background-insets: 0;
    -fx-spacing: 0px;
    -fx-min-width: 112px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.20), 12, 0.16, 0, 4);
}

.m3-menu .m3-menu-item:selected .m3-list-item-selection-container {
    -fx-background-color: -m3-color-secondary-container;
}

.m3-sub-menu-item .m3-list-item-container {
    -fx-cursor: hand;
}

.m3-sub-menu-indicator {
    -m3-icon-font-weight: 700;
    -fx-text-fill: -m3-color-on-surface-variant;
}

.m3-menu-section-header {
    -fx-alignment: center-left;
    -fx-min-height: 32px;
    -fx-pref-height: 32px;
    -fx-padding: 12px 12px 4px 12px;
    -fx-text-fill: -m3-color-on-surface-variant;
    -fx-font-size: 14px;
    -fx-font-weight: 700;
}
