.m3-menu {
    -fx-background-color: -m3-color-surface-container;
    -fx-background-insets: 0;
    -fx-spacing: 0px;
    -fx-min-width: 112px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.20), 12, 0.16, 0, 4);
}

.m3-menu .m3-menu-item:selected .m3-list-item-container {
    -fx-background-color: -m3-color-secondary-container;
}
