@import "list-item.css";

.m3-menu-item {
    -m3-menu-item-label-color: -m3-color-on-surface;
    -m3-menu-item-supporting-color: -m3-color-on-surface-variant;
    -m3-menu-item-icon-color: -m3-color-on-surface-variant;
    -m3-list-item-headline-color: -m3-menu-item-label-color;
    -m3-list-item-supporting-color: -m3-menu-item-supporting-color;
    -m3-list-item-selected-container-color: -m3-menu-selected-item-container-color;
    -m3-list-item-selected-content-color: -m3-menu-selected-item-content-color;
    -m3-list-item-state-layer-color: -m3-menu-item-state-layer-color;
    -m3-list-item-disabled-state-layer-color: rgba(0,0,0,0);
}

.m3-menu-item:vibrant {
    -m3-list-item-headline-color: -m3-menu-vibrant-item-content-color;
    -m3-list-item-supporting-color: -m3-menu-vibrant-item-content-color;
    -m3-list-item-selected-container-color: -m3-menu-vibrant-selected-item-container-color;
    -m3-list-item-selected-content-color: -m3-menu-vibrant-selected-item-content-color;
    -m3-list-item-state-layer-color: -m3-menu-vibrant-item-state-layer-color;
}

.m3-menu-item:selected {
    -m3-list-item-state-layer-color: -m3-menu-selected-item-content-color;
}

.m3-menu-item:selected:vibrant {
    -m3-list-item-state-layer-color: -m3-menu-vibrant-selected-item-content-color;
}

.m3-menu-item .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item .m3-list-item-trailing .m3-icon-graphic {
    -m3-icon-size: 24px;
    -fx-text-fill: -m3-menu-item-icon-color;
}

.m3-menu-item:vibrant .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:vibrant .m3-list-item-trailing .m3-icon-graphic {
    -fx-text-fill: -m3-menu-vibrant-item-content-color;
}

.m3-menu-item:vibrant:hover .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:vibrant:hover .m3-list-item-trailing .m3-icon-graphic,
.m3-menu-item:vibrant:focus-visible .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:vibrant:focus-visible .m3-list-item-trailing .m3-icon-graphic,
.m3-menu-item:vibrant:pressed .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:vibrant:pressed .m3-list-item-trailing .m3-icon-graphic,
.m3-menu-item:vibrant:armed .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:vibrant:armed .m3-list-item-trailing .m3-icon-graphic {
    -fx-text-fill: -m3-menu-vibrant-interaction-icon-color;
}

.m3-menu-item:selected .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:selected .m3-list-item-trailing .m3-icon-graphic {
    -fx-text-fill: -m3-menu-selected-item-content-color;
}

.m3-menu-item:selected:vibrant .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:selected:vibrant .m3-list-item-trailing .m3-icon-graphic {
    -fx-text-fill: -m3-menu-vibrant-selected-item-content-color;
}

.m3-menu-item:selected:disabled .m3-menu-item-selection-container {
    -fx-background-color: -m3-menu-selected-disabled-container-color;
}

.m3-menu-item:selected:disabled:vibrant .m3-menu-item-selection-container {
    -fx-background-color: -m3-menu-vibrant-selected-item-container-color;
}

.m3-menu-item:disabled .m3-list-item-container {
    -fx-background-color: rgba(0,0,0,0);
}

.m3-menu-item:disabled .m3-menu-item-text {
    -fx-opacity: 0.38;
    -fx-text-fill: -m3-color-on-surface;
}

.m3-menu-item:disabled .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:disabled .m3-list-item-trailing .m3-icon-graphic {
    -fx-text-fill: -m3-color-on-surface;
}

.m3-menu-item:disabled:vibrant .m3-menu-item-text,
.m3-menu-item:disabled:vibrant .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:disabled:vibrant .m3-list-item-trailing .m3-icon-graphic {
    -fx-text-fill: -m3-menu-vibrant-item-content-color;
}

.m3-menu-item:selected:disabled .m3-menu-item-text,
.m3-menu-item:selected:disabled .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:selected:disabled .m3-list-item-trailing .m3-icon-graphic {
    -fx-text-fill: -m3-menu-selected-item-content-color;
}

.m3-menu-item:selected:disabled:vibrant .m3-menu-item-text,
.m3-menu-item:selected:disabled:vibrant .m3-list-item-leading .m3-icon-graphic,
.m3-menu-item:selected:disabled:vibrant .m3-list-item-trailing .m3-icon-graphic {
    -fx-text-fill: -m3-menu-vibrant-selected-item-content-color;
}

.m3-sub-menu-indicator {
    -m3-icon-font-weight: 700;
    -fx-text-fill: -m3-menu-item-icon-color;
}
