.m3-meter {
    -m3-meter-positive-color: rgb(56, 106, 32);
    -m3-meter-notice-color: rgb(121, 89, 0);
    -m3-meter-fill-color: -m3-color-primary;
}

.m3-dark .m3-meter {
    -m3-meter-positive-color: rgb(156, 214, 125);
    -m3-meter-notice-color: rgb(248, 189, 72);
}

.m3-meter.m3-informative-meter {
    -m3-meter-fill-color: -m3-color-primary;
}

.m3-meter.m3-positive-meter {
    -m3-meter-fill-color: -m3-meter-positive-color;
}

.m3-meter.m3-notice-meter {
    -m3-meter-fill-color: -m3-meter-notice-color;
}

.m3-meter.m3-negative-meter {
    -m3-meter-fill-color: -m3-color-error;
}

.m3-meter-track {
    -fx-background-color: -m3-color-surface-container-highest;
    -fx-background-radius: 999px;
}

.m3-meter-fill {
    -fx-background-color: -m3-meter-fill-color;
    -fx-background-radius: 999px;
}

.m3-meter-label,
.m3-meter-value-label {
    -fx-text-fill: -m3-color-on-surface;
}

.m3-meter-value-label {
    -fx-font-weight: 600;
}

.m3-meter.m3-small-meter .m3-meter-label,
.m3-meter.m3-small-meter .m3-meter-value-label {
    -fx-font-size: 12px;
}

.m3-meter.m3-large-meter .m3-meter-label,
.m3-meter.m3-large-meter .m3-meter-value-label {
    -fx-font-size: 14px;
}

.m3-meter:disabled {
    -fx-opacity: -m3-state-disabled-content-opacity;
}
