.m3-navigation-rail {
    -fx-background-color: -m3-color-surface;
    -fx-padding: 16px 0px 16px 0px;
    -m3-collapsed-container-width: 96px;
    -m3-expanded-minimum-container-width: 220px;
    -m3-expanded-container-width: 280px;
    -m3-expanded-maximum-container-width: 360px;
    -m3-item-spacing: 8px;
    -m3-header-spacing: 40px;
    -fx-background-radius: 0px;
    -fx-effect: null;
}

.m3-navigation-rail:narrow {
    -m3-collapsed-container-width: 80px;
}

.m3-navigation-rail .m3-navigation-item.m3-navigation-item,
.m3-navigation-rail .m3-navigation-item.m3-navigation-item:hover,
.m3-navigation-rail .m3-navigation-item.m3-navigation-item:focused,
.m3-navigation-rail .m3-navigation-item.m3-navigation-item:armed,
.m3-navigation-rail .m3-navigation-item.m3-navigation-item:pressed,
.m3-navigation-rail .m3-navigation-item.m3-navigation-item:selected {
    -m3-container-height: 80px;
    -m3-item-width: 80px;
    -m3-indicator-width: 56px;
    -m3-indicator-height: 32px;
    -m3-indicator-shape: 16px;
}

.m3-navigation-rail:expanded {
    -fx-background-color: -m3-color-surface;
    -fx-padding: 44px 0px 20px 0px;
    -m3-item-spacing: 0px;
}

.m3-navigation-rail:expanded:modal {
    -fx-background-color: -m3-color-surface-container;
    -fx-background-radius: 16px;
    -fx-effect: dropshadow(gaussian, -m3-elevation-shadow-color, 3, 0.18, 0, 2);
}

.m3-navigation-rail:expanded .m3-navigation-item-horizontal.m3-navigation-item {
    -m3-container-height: 64px;
    -m3-item-width: 264px;
    -m3-indicator-width: 56px;
    -m3-indicator-height: 56px;
    -m3-indicator-shape: 28px;
    -m3-content-spacing: 8px;
}

.m3-navigation-rail:expanded .m3-navigation-item-label {
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}
