.m3-progress-bar {
    -m3-track-thickness: 4px;
    -m3-track-shape: 999px;
    -fx-accent: -m3-color-primary;
}

.m3-progress-bar.m3-progress-bar .track,
.m3-progress-bar.m3-progress-bar:focused .track,
.m3-progress-bar.m3-progress-bar:indeterminate .track {
    -fx-fill: -m3-color-secondary-container;
    -fx-arc-width: 4px;
    -fx-arc-height: 4px;
    -fx-stroke: transparent;
    -fx-stroke-width: 0px;
}

.m3-progress-bar.m3-progress-bar .bar,
.m3-progress-bar.m3-progress-bar:focused .bar,
.m3-progress-bar.m3-progress-bar:indeterminate .bar {
    -fx-fill: -m3-color-primary;
    -fx-arc-width: 4px;
    -fx-arc-height: 4px;
    -fx-stroke: transparent;
    -fx-stroke-width: 0px;
}

.m3-progress-indicator.m3-progress-indicator,
.m3-progress-indicator.m3-progress-indicator:focused,
.m3-progress-indicator.m3-progress-indicator:indeterminate {
    -m3-track-thickness: 4px;
    -m3-indicator-size: 48px;
    -fx-progress-color: -m3-color-primary;
    -fx-accent: -m3-color-primary;
}

.m3-progress-indicator.m3-progress-indicator .track,
.m3-progress-indicator.m3-progress-indicator:focused .track,
.m3-progress-indicator.m3-progress-indicator:indeterminate .track {
    -fx-fill: transparent;
    -fx-stroke: -m3-color-secondary-container;
    -fx-stroke-width: 4px;
}

.m3-progress-indicator.m3-progress-indicator .indicator,
.m3-progress-indicator.m3-progress-indicator:focused .indicator,
.m3-progress-indicator.m3-progress-indicator:indeterminate .indicator {
    -fx-fill: transparent;
    -fx-stroke: -m3-color-primary;
    -fx-stroke-width: 4px;
}

.m3-progress-bar:disabled,
.m3-progress-indicator:disabled {
    -fx-opacity: 0.38;
}
