.m3-checkbox,
.m3-radio-button {
    -m3-touch-target-size: 48px;
    -m3-state-layer-size: 40px;
    -fx-text-fill: -m3-color-on-surface;
    -fx-font-size: 14px;
    -fx-cursor: default;
}

.m3-checkbox {
    -m3-container-size: 18px;
    -m3-selected-mark-width: 12px;
    -m3-selected-mark-height: 10px;
    -m3-indeterminate-mark-width: 12px;
    -m3-indeterminate-mark-height: 2px;
}

.m3-radio-button {
    -m3-container-size: 20px;
    -m3-selected-dot-size: 10px;
}

.m3-switch {
    -m3-touch-target-size: 48px;
    -m3-track-shape: 999px;
    -m3-track-width: 52px;
    -m3-track-height: 32px;
    -m3-state-layer-size: 40px;
    -m3-unselected-handle-size: 16px;
    -m3-with-icon-handle-size: 24px;
    -m3-selected-handle-size: 24px;
    -m3-pressed-handle-size: 28px;
    -m3-icon-size: 16px;
    -fx-text-fill: -m3-color-on-surface;
    -fx-font-size: 14px;
    -fx-cursor: default;
}

.m3-selection-container {
    -fx-spacing: 4px;
}

.m3-switch .m3-selection-container {
    -fx-spacing: 8px;
}

.m3-selection-indicator {
    -fx-alignment: center;
}

.m3-checkbox .m3-state-layer,
.m3-checkbox .m3-ripple,
.m3-radio-button .m3-state-layer,
.m3-radio-button .m3-ripple {
    -fx-background-color: -m3-color-on-surface;
}

.m3-checkbox:selected .m3-state-layer,
.m3-checkbox:selected .m3-ripple,
.m3-checkbox:indeterminate .m3-state-layer,
.m3-checkbox:indeterminate .m3-ripple,
.m3-radio-button:selected .m3-state-layer,
.m3-radio-button:selected .m3-ripple {
    -fx-background-color: -m3-color-primary;
}

.m3-switch .m3-state-layer,
.m3-switch .m3-ripple {
    -fx-background-color: -m3-color-on-surface;
}

.m3-switch:selected .m3-state-layer,
.m3-switch:selected .m3-ripple {
    -fx-background-color: -m3-color-primary;
}

.m3-checkbox:armed .m3-state-layer,
.m3-checkbox:armed .m3-ripple,
.m3-radio-button:armed .m3-state-layer,
.m3-radio-button:armed .m3-ripple {
    -fx-background-color: -m3-color-primary;
}

.m3-checkbox:selected:armed .m3-state-layer,
.m3-checkbox:selected:armed .m3-ripple,
.m3-checkbox:indeterminate:armed .m3-state-layer,
.m3-checkbox:indeterminate:armed .m3-ripple,
.m3-radio-button:selected:armed .m3-state-layer,
.m3-radio-button:selected:armed .m3-ripple {
    -fx-background-color: -m3-color-on-surface;
}

.m3-checkbox:error .m3-state-layer,
.m3-checkbox:error .m3-ripple,
.m3-checkbox:error:selected .m3-state-layer,
.m3-checkbox:error:selected .m3-ripple,
.m3-checkbox:error:indeterminate .m3-state-layer,
.m3-checkbox:error:indeterminate .m3-ripple {
    -fx-background-color: -m3-color-error;
}

.m3-checkbox .box,
.m3-checkbox:hover .box,
.m3-checkbox:focus-visible .box,
.m3-checkbox:armed .box,
.m3-checkbox:pressed .box {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2px;
    -fx-border-color: -m3-color-on-surface-variant;
    -fx-border-insets: 0;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}

.m3-checkbox:hover .box,
.m3-checkbox:focus-visible .box,
.m3-checkbox:armed .box,
.m3-checkbox:pressed .box {
    -fx-border-color: -m3-color-on-surface;
}

.m3-checkbox:selected .box,
.m3-checkbox:selected:hover .box,
.m3-checkbox:selected:focus-visible .box,
.m3-checkbox:selected:armed .box,
.m3-checkbox:selected:pressed .box,
.m3-checkbox:indeterminate .box,
.m3-checkbox:indeterminate:hover .box,
.m3-checkbox:indeterminate:focus-visible .box,
.m3-checkbox:indeterminate:armed .box,
.m3-checkbox:indeterminate:pressed .box {
    -fx-background-color: -m3-color-primary;
    -fx-border-color: -m3-color-primary;
    -fx-border-width: 0px;
}

.m3-checkbox:error .box {
    -fx-border-color: -m3-color-error;
}

.m3-checkbox:error:selected .box,
.m3-checkbox:error:indeterminate .box {
    -fx-background-color: -m3-color-error;
    -fx-border-color: -m3-color-error;
    -fx-border-width: 0px;
}

.m3-checkbox .mark,
.m3-checkbox:hover .mark,
.m3-checkbox:focus-visible .mark,
.m3-checkbox:armed .mark,
.m3-checkbox:pressed .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: "M 4 7 L 7 10 L 14 2 L 16 4 L 7 14 L 2 9 Z";
}

.m3-checkbox:selected .mark,
.m3-checkbox:selected:hover .mark,
.m3-checkbox:selected:focus-visible .mark,
.m3-checkbox:selected:armed .mark,
.m3-checkbox:selected:pressed .mark,
.m3-checkbox:indeterminate .mark,
.m3-checkbox:indeterminate:hover .mark,
.m3-checkbox:indeterminate:focus-visible .mark,
.m3-checkbox:indeterminate:armed .mark,
.m3-checkbox:indeterminate:pressed .mark {
    -fx-background-color: -m3-color-on-primary;
}

.m3-checkbox:error:selected .mark,
.m3-checkbox:error:indeterminate .mark {
    -fx-background-color: -m3-color-on-error;
}

.m3-checkbox:indeterminate .mark,
.m3-checkbox:indeterminate:hover .mark,
.m3-checkbox:indeterminate:focus-visible .mark,
.m3-checkbox:indeterminate:armed .mark,
.m3-checkbox:indeterminate:pressed .mark {
    -fx-shape: "M 3 8 L 15 8 L 15 10 L 3 10 Z";
}

.m3-radio-button .radio,
.m3-radio-button:hover .radio,
.m3-radio-button:focus-visible .radio,
.m3-radio-button:armed .radio,
.m3-radio-button:pressed .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0px;
}

.m3-radio-button .radio .ring,
.m3-radio-button:hover .radio .ring,
.m3-radio-button:focus-visible .radio .ring,
.m3-radio-button:armed .radio .ring,
.m3-radio-button:pressed .radio .ring {
    -fx-fill: transparent;
    -fx-stroke: -m3-color-on-surface-variant;
    -fx-stroke-width: 2px;
}

.m3-radio-button:hover .radio .ring,
.m3-radio-button:focus-visible .radio .ring,
.m3-radio-button:armed .radio .ring,
.m3-radio-button:pressed .radio .ring {
    -fx-stroke: -m3-color-on-surface;
}

.m3-radio-button:selected .radio .ring,
.m3-radio-button:selected:hover .radio .ring,
.m3-radio-button:selected:focus-visible .radio .ring,
.m3-radio-button:selected:armed .radio .ring,
.m3-radio-button:selected:pressed .radio .ring {
    -fx-stroke: -m3-color-primary;
}

.m3-radio-button .radio .dot,
.m3-radio-button:hover .radio .dot,
.m3-radio-button:focus-visible .radio .dot,
.m3-radio-button:armed .radio .dot,
.m3-radio-button:pressed .radio .dot {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0px;
}

.m3-radio-button:selected .radio .dot,
.m3-radio-button:selected:hover .radio .dot,
.m3-radio-button:selected:focus-visible .radio .dot,
.m3-radio-button:selected:armed .radio .dot,
.m3-radio-button:selected:pressed .radio .dot {
    -fx-fill: -m3-color-primary;
}

.m3-switch .box {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
}

.m3-switch .m3-switch-track-unselected {
    -fx-background-color: -m3-color-surface-container-highest;
    -fx-background-radius: 999px;
    -fx-border-color: -m3-color-outline;
    -fx-border-insets: 0;
    -fx-border-radius: 999px;
    -fx-border-width: 2px;
}

.m3-switch .m3-switch-track-selected {
    -fx-background-color: -m3-color-primary;
    -fx-background-radius: 999px;
    -fx-border-color: -m3-color-primary;
    -fx-border-radius: 999px;
    -fx-border-width: 0px;
}

.m3-switch .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 999px;
}

.m3-switch .m3-switch-thumb-unselected {
    -fx-background-color: -m3-color-outline;
    -fx-background-insets: 0;
    -fx-background-radius: 999px;
}

.m3-switch:hover .m3-switch-thumb-unselected,
.m3-switch:focus-visible .m3-switch-thumb-unselected,
.m3-switch:armed .m3-switch-thumb-unselected,
.m3-switch:pressed .m3-switch-thumb-unselected {
    -fx-background-color: -m3-color-on-surface-variant;
}

.m3-switch .m3-switch-thumb-selected {
    -fx-background-color: -m3-color-on-primary;
    -fx-background-insets: 0;
    -fx-background-radius: 999px;
}

.m3-switch:hover .m3-switch-thumb-selected,
.m3-switch:focus-visible .m3-switch-thumb-selected,
.m3-switch:armed .m3-switch-thumb-selected,
.m3-switch:pressed .m3-switch-thumb-selected {
    -fx-background-color: -m3-color-primary-container;
}

.m3-switch .m3-switch-icon-slot {
    -fx-alignment: center;
}

.m3-switch .m3-switch-icon-slot-unselected .m3-switch-handle-icon {
    -fx-background-color: -m3-color-surface-container-highest;
    -fx-fill: -m3-color-surface-container-highest;
    -fx-text-fill: -m3-color-surface-container-highest;
}

.m3-switch .m3-switch-icon-slot-selected .m3-switch-handle-icon {
    -fx-background-color: -m3-color-primary;
    -fx-fill: -m3-color-primary;
    -fx-text-fill: -m3-color-primary;
}

.m3-checkbox:disabled .m3-selection-label,
.m3-radio-button:disabled .m3-selection-label,
.m3-switch:disabled .m3-selection-label {
    -fx-opacity: -m3-state-disabled-content-opacity;
}

.m3-checkbox:disabled .box,
.m3-checkbox:disabled:hover .box,
.m3-checkbox:disabled:focus-visible .box,
.m3-checkbox:disabled:armed .box,
.m3-checkbox:disabled:pressed .box {
    -fx-border-color: -m3-color-on-surface;
    -fx-opacity: -m3-state-disabled-content-opacity;
}

.m3-checkbox:selected:disabled .box,
.m3-checkbox:selected:disabled:hover .box,
.m3-checkbox:selected:disabled:focus-visible .box,
.m3-checkbox:selected:disabled:armed .box,
.m3-checkbox:selected:disabled:pressed .box,
.m3-checkbox:indeterminate:disabled .box,
.m3-checkbox:indeterminate:disabled:hover .box,
.m3-checkbox:indeterminate:disabled:focus-visible .box,
.m3-checkbox:indeterminate:disabled:armed .box,
.m3-checkbox:indeterminate:disabled:pressed .box {
    -fx-background-color: -m3-color-on-surface;
    -fx-border-color: -m3-color-on-surface;
    -fx-border-width: 0px;
    -fx-opacity: -m3-state-disabled-content-opacity;
}

.m3-checkbox:selected:disabled .mark,
.m3-checkbox:selected:disabled:hover .mark,
.m3-checkbox:selected:disabled:focus-visible .mark,
.m3-checkbox:selected:disabled:armed .mark,
.m3-checkbox:selected:disabled:pressed .mark,
.m3-checkbox:indeterminate:disabled .mark,
.m3-checkbox:indeterminate:disabled:hover .mark,
.m3-checkbox:indeterminate:disabled:focus-visible .mark,
.m3-checkbox:indeterminate:disabled:armed .mark,
.m3-checkbox:indeterminate:disabled:pressed .mark {
    -fx-background-color: -m3-color-surface;
}

.m3-radio-button:disabled .radio .ring,
.m3-radio-button:disabled:hover .radio .ring,
.m3-radio-button:disabled:focus-visible .radio .ring,
.m3-radio-button:disabled:armed .radio .ring,
.m3-radio-button:disabled:pressed .radio .ring {
    -fx-stroke: -m3-color-on-surface;
    -fx-opacity: -m3-state-disabled-content-opacity;
}

.m3-radio-button:selected:disabled .radio .dot,
.m3-radio-button:selected:disabled:hover .radio .dot,
.m3-radio-button:selected:disabled:focus-visible .radio .dot,
.m3-radio-button:selected:disabled:armed .radio .dot,
.m3-radio-button:selected:disabled:pressed .radio .dot {
    -fx-fill: -m3-color-on-surface;
    -fx-opacity: -m3-state-disabled-content-opacity;
}

.m3-switch:disabled .m3-switch-track-unselected {
    -fx-background-color: -m3-color-surface-container-highest;
    -fx-border-color: -m3-color-on-surface;
    -fx-opacity: -m3-state-disabled-container-opacity;
}

.m3-switch:disabled .m3-switch-track-selected {
    -fx-background-color: -m3-color-on-surface;
    -fx-border-color: -m3-color-on-surface;
    -fx-border-width: 0px;
    -fx-opacity: -m3-state-disabled-container-opacity;
}

.m3-switch:disabled .m3-switch-thumb-unselected {
    -fx-background-color: -m3-color-on-surface;
    -fx-opacity: -m3-state-disabled-content-opacity;
}

.m3-switch:disabled .m3-switch-thumb-selected {
    -fx-background-color: -m3-color-surface;
    -fx-opacity: 1;
}

.m3-switch:disabled .m3-switch-handle-icon {
    -fx-opacity: -m3-state-disabled-content-opacity;
}

.m3-switch:disabled .m3-switch-icon-slot-selected .m3-switch-handle-icon {
    -fx-background-color: -m3-color-on-surface;
    -fx-fill: -m3-color-on-surface;
    -fx-text-fill: -m3-color-on-surface;
}
