.m3-snackbar-host {
    -fx-padding: 0 24px 24px 24px;
}

.m3-snackbar {
    -m3-container-shape: 4px;
    -m3-content-padding: 16px;
    -m3-single-line-container-height: 48px;
    -m3-two-line-container-height: 68px;
    -m3-action-container-height: 32px;
    -fx-background-color: transparent;
}

.m3-snackbar-container {
    -fx-spacing: 16px;
    -fx-background-color: -m3-color-inverse-surface;
    -fx-background-radius: 4px;
}

.m3-snackbar-text {
    -fx-text-fill: -m3-color-inverse-on-surface;
    -fx-font-size: 14px;
}

.m3-snackbar-action {
    -m3-container-height: -m3-action-container-height;
    -fx-text-fill: -m3-color-inverse-primary;
}
