.m3-snackbar-presenter {
    -fx-padding: 0 24px 24px 24px;
    -m3-container-shape: 4px;
    -m3-content-padding: 16px;
    -m3-single-line-container-height: 48px;
    -m3-two-line-container-height: 68px;
    -m3-action-container-height: 32px;
}

.m3-snackbar-container {
    -fx-spacing: 16px;
    -fx-background-color: -m3-color-inverse-surface;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 6, 0.18, 0, 3);
}

.m3-snackbar-text {
    -fx-text-fill: -m3-color-inverse-on-surface;
    -fx-font-size: 14px;
}

.m3-snackbar-action {
    -m3-container-height: -m3-action-container-height;
    -fx-text-fill: -m3-color-inverse-primary;
}

.m3-snackbar-presenter .m3-snackbar-action .m3-state-layer,
.m3-snackbar-presenter .m3-snackbar-action .m3-ripple {
    -fx-background-color: -m3-color-inverse-primary;
}

.m3-snackbar-close {
    -m3-container-height: 40px;
    -m3-container-width: 40px;
    -fx-text-fill: -m3-color-inverse-on-surface;
}

.m3-snackbar-presenter:disabled {
    -fx-opacity: -m3-state-disabled-content-opacity;
}
