.m3-split-button .m3-button.m3-split-button-action {
    -m3-horizontal-padding: 20px;
}

.m3-split-button .m3-button.m3-split-button-menu {
    -m3-horizontal-padding: 0px;
    -fx-min-width: 48px;
    -fx-pref-width: 48px;
}

.m3-split-button .m3-button:right-edge {
    -fx-background-radius: 0 999px 999px 0;
    -fx-border-radius: 0 999px 999px 0;
}

.m3-split-button .m3-button:left-edge {
    -fx-background-radius: 999px 0 0 999px;
    -fx-border-radius: 999px 0 0 999px;
}

.m3-split-button .m3-button.m3-split-button-action:left-edge,
.m3-split-button .m3-button.m3-split-button-menu:left-edge {
    -fx-background-radius: 999px 0 0 999px;
    -fx-border-radius: 999px 0 0 999px;
}

.m3-split-button .m3-button.m3-split-button-action:right-edge,
.m3-split-button .m3-button.m3-split-button-menu:right-edge {
    -fx-background-radius: 0 999px 999px 0;
    -fx-border-radius: 0 999px 999px 0;
}

.m3-split-button .m3-button.m3-split-button-action:disabled,
.m3-split-button .m3-button.m3-split-button-menu:disabled {
    -fx-opacity: 0.38;
}

.m3-split-button .m3-button.m3-button:left-edge:left-edge {
    -fx-background-radius: 999px 0 0 999px;
    -fx-border-radius: 999px 0 0 999px;
}

.m3-split-button .m3-button.m3-button:right-edge:right-edge {
    -fx-background-radius: 0 999px 999px 0;
    -fx-border-radius: 0 999px 999px 0;
}
