.m3-tooltip {
    -fx-background-color: -m3-color-inverse-surface;
    -fx-background-radius: 4px;
    -fx-background-insets: 0;
    -fx-padding: 6px 8px;
    -fx-font-size: 12px;
    -fx-text-fill: -m3-color-inverse-on-surface;
}
