.m3-top-app-bar {
    -m3-container-height: 64px;
    -m3-medium-container-height: 112px;
    -m3-large-container-height: 152px;
    -m3-horizontal-padding: 16px;
    -m3-medium-bottom-padding: 20px;
    -m3-large-bottom-padding: 28px;
    -m3-content-spacing: 16px;
    -fx-background-color: -m3-color-surface;
}

.m3-top-app-bar-navigation {
    -fx-alignment: center;
}

.m3-top-app-bar-title {
    -fx-font-size: 22px;
    -fx-font-weight: 500;
    -fx-text-fill: -m3-color-on-surface;
}

.m3-top-app-bar-medium .m3-top-app-bar-title,
.m3-top-app-bar-large .m3-top-app-bar-title {
    -fx-font-size: 28px;
}

.m3-top-app-bar-actions {
    -fx-alignment: center-right;
    -fx-spacing: 8px;
}
