.m3-top-app-bar {
    -fx-background-color: -m3-color-surface;
    -fx-min-height: 64px;
    -fx-pref-height: 64px;
    -fx-padding: 0px 16px 0px 16px;
    -fx-spacing: 16px;
    -fx-alignment: center-left;
}

.m3-top-app-bar-medium {
    -fx-min-height: 112px;
    -fx-pref-height: 112px;
    -fx-padding: 0px 16px 20px 16px;
    -fx-alignment: bottom-left;
}

.m3-top-app-bar-large {
    -fx-min-height: 152px;
    -fx-pref-height: 152px;
    -fx-padding: 0px 16px 28px 16px;
    -fx-alignment: bottom-left;
}

.m3-top-app-bar-navigation {
    -fx-alignment: center;
}

.m3-top-app-bar-title {
    -fx-font-size: 22px;
    -fx-font-weight: 500;
    -fx-text-fill: -m3-color-on-surface;
}

.m3-top-app-bar-medium .m3-top-app-bar-title,
.m3-top-app-bar-large .m3-top-app-bar-title {
    -fx-font-size: 28px;
}

.m3-top-app-bar-actions {
    -fx-alignment: center-right;
    -fx-spacing: 8px;
}
