@import "text.css";

.tree-view.m3-tree-view,
.tree-view.m3-tree-view:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tree-view.m3-tree-view.m3-small-tree-view {
    -fx-fixed-cell-size: 32px;
}

.tree-view.m3-tree-view.m3-medium-tree-view {
    -fx-fixed-cell-size: 40px;
}

.tree-view.m3-tree-view.m3-large-tree-view {
    -fx-fixed-cell-size: 48px;
}

.tree-view.m3-tree-view.m3-extra-large-tree-view {
    -fx-fixed-cell-size: 56px;
}

.m3-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell {
    -fx-alignment: center-left;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0 16px 0 8px;
    -fx-text-fill: -m3-color-on-surface;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
}

.m3-tree-view.m3-large-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell,
.m3-tree-view.m3-extra-large-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell {
    -fx-font-size: 16px;
}

.m3-tree-view.m3-detached-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell {
    -fx-background-color: -m3-color-surface-container-low;
    -fx-background-insets: 2px 8px;
    -fx-background-radius: 12px;
    -fx-padding: 0 24px 0 16px;
}

.m3-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell:hover {
    -fx-background-color: -m3-color-surface-container-high;
}

.m3-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell:selected {
    -fx-background-color: -m3-color-secondary-container;
    -fx-text-fill: -m3-color-on-secondary-container;
}

.m3-tree-view.m3-detached-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell:hover,
.m3-tree-view.m3-detached-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell:selected {
    -fx-background-insets: 2px 8px;
    -fx-background-radius: 12px;
}

.m3-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell:focused {
    -fx-border-color: -m3-color-outline;
    -fx-border-insets: 2px;
    -fx-border-radius: 4px;
    -fx-border-width: 2px;
}

.m3-tree-view.m3-detached-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell:focused {
    -fx-border-insets: 4px 10px;
    -fx-border-radius: 10px;
}

.m3-tree-view > .virtual-flow > .clipped-container > .sheet > .m3-tree-cell:disabled {
    -fx-opacity: -m3-state-disabled-content-opacity;
}

.m3-tree-view .m3-tree-cell > .tree-disclosure-node {
    -fx-padding: 8px;
}

.m3-tree-view .m3-tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -m3-color-on-surface-variant;
    -fx-padding: 5px 3px;
    -fx-shape: "M 0 0 L 6 5 L 0 10 Z";
}

.m3-tree-view .m3-tree-cell:selected > .tree-disclosure-node > .arrow {
    -fx-background-color: -m3-color-on-secondary-container;
}

.m3-tree-view > .virtual-flow > .corner {
    -fx-background-color: transparent;
}

.m3-tree-view > .virtual-flow > .scroll-bar,
.m3-tree-view > .virtual-flow > .scroll-bar:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 3px;
}

.m3-tree-view > .virtual-flow > .scroll-bar:vertical {
    -fx-pref-width: 16px;
}

.m3-tree-view > .virtual-flow > .scroll-bar:horizontal {
    -fx-pref-height: 16px;
}

.m3-tree-view > .virtual-flow > .scroll-bar > .track,
.m3-tree-view > .virtual-flow > .scroll-bar > .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 999px;
}

.m3-tree-view > .virtual-flow > .scroll-bar > .thumb {
    -fx-background-color: -monet-surface-tint;
    -fx-background-insets: 0;
    -fx-background-radius: 999px;
    -fx-opacity: 0.48;
}

.m3-tree-view > .virtual-flow > .scroll-bar:hover > .thumb,
.m3-tree-view > .virtual-flow > .scroll-bar > .thumb:hover {
    -fx-opacity: 0.64;
}

.m3-tree-view > .virtual-flow > .scroll-bar:pressed > .thumb,
.m3-tree-view > .virtual-flow > .scroll-bar > .thumb:pressed {
    -fx-opacity: 0.78;
}

.m3-tree-view > .virtual-flow > .scroll-bar > .increment-button,
.m3-tree-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-opacity: 0;
}

.m3-tree-view > .virtual-flow > .scroll-bar:vertical > .increment-button,
.m3-tree-view > .virtual-flow > .scroll-bar:vertical > .decrement-button {
    -fx-pref-height: 0;
}

.m3-tree-view > .virtual-flow > .scroll-bar:horizontal > .increment-button,
.m3-tree-view > .virtual-flow > .scroll-bar:horizontal > .decrement-button {
    -fx-pref-width: 0;
}

.m3-tree-view > .virtual-flow > .scroll-bar > .increment-button > .increment-arrow,
.m3-tree-view > .virtual-flow > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
